<h1>New Reservation</h1>
<%= form_with(model: @reservation, local: true) do |form| %>
  <div class="field">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>
  <div class="field">
    <%= form.label :end_time %>
    <%= form.datetime_select :end_time %>
  </div>
  <div class="field">
    <%= form.label :status %>
    <%= form.text_field :status %>
  </div>
  <div class="actions">
    <%= form.submit 'Create Reservation' %>
  </div>
<% end %>
<%= link_to 'Back', reservations_path %>
